@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    color: #ffffff;
    margin: 40px;
    background-color: #888888;
}

#container-curriculo {
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 40px;
    margin: 150px;
    box-sizing: border-box; 
    box-shadow: #000000 10px 10px 15px;
    background-color: #ffffff;
}

#header {
    word-break: break-word;
    color: #000000;
    font-family: Montserrat;
    font-size: 15px;
}

#name {
    padding: 5px;
    margin: 5px;
    font-size: 35px;
}

#navigation {
    padding: 5px;
    margin: 5px;
}

.menu {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: #000000;
}

.title-h1 {
    background: linear-gradient(90deg, #cccccc, #aaaaaa, #888888);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-family: Montserrat;
}

.title-sections {
    background: linear-gradient(90deg, #cccccc, #aaaaaa, #888888);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    color: #000000;
    font-size: 18px;
    font-family: Montserrat;
}

.paragraph-sections {
    border-radius: 10px;
    justify-content: left;
    color: #000000;
    font-size: 16px;
    font-family: Montserrat;
    margin: 15px;
}

.course-list, .paragraph-list {
    padding: 10px
}

.div-sections {
    color: #000000;
    font-size: 16px;
    font-family: Montserrat;
    margin: 25px;
}